*{
    margin: 0;
    box-sizing: border-box;
}
.timer{
    display: inline-block;
    margin: auto;
}

.time{
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    font-size: 75px;
    letter-spacing: -10px;
    margin: 40px 0;
    
}
.buttons{
    text-align: center;
}
.button1, .button2{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 4px solid black;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.phase1, .submit-button{
    background-color: rgb(132, 207, 19);
}
.estimator{
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 25px;
    font-family: 'Cutive Mono',monospace;
    letter-spacing: -2px;
}
.estimator-time{
    font-size: 50px;
    font-weight: bold;
    display: block;
}
.laps{
    font-family:'Montserrat', sans-serif;
    width: 95%;
    margin: auto;
    border: solid black 2px;
    text-align: center;
}
.laps-table{
    margin: auto;
    
}
th, td{
    padding: 4px;
}


/* styles for the home page */

.home{
    font-family: 'Montserrat', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
.distance-input, .time-input {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  width: 50px;
  
}
.time-input{
    width: 30px
}
.input{
    text-align: center;
    margin: 20px 0;
}
.submit-button{
    width: auto;
    padding: 10px 10px;
    border: solid black 2px;
    cursor: pointer;
    border-radius: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (min-width: 600px){
    .time{
        font-size: 100px;
    }
    .laps{
        width: 40%;
    }
}