*{
    margin: 0;
    box-sizing: border-box;
}
.timer{
    display: inline-block;
    margin: auto;
}

.time{
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    font-size: 75px;
    letter-spacing: -10px;
    margin: 40px 0;
    
}
.buttons{
    text-align: center;
}
.button1, .button2{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 4px solid black;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.phase1{
    background-color: rgb(132, 207, 19);
}
.estimator{
    text-align: center;
    margin: 40px;
    font-size: 25px;
    font-family: 'Cutive Mono',monospace;
    letter-spacing: -2px;
}
.estimator-time{
    font-size: 50px;
    font-weight: bold;
    display: block;
}
.laps{
    font-family:'Montserrat', sans-serif;
    width: 90%;
    margin: auto;
    border: solid black 2px;
    text-align: center;
}
.laps-table{
    margin: auto;
    
}
th, td{
    padding: 5px;
}
@media only screen and (min-width: 800px){
    .time{
        font-size: 100px;
    }
}